@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');


/* * {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
} */
body {
  margin: 0;
  padding: 2em;
  background: #f8f8f8;
}

#peeps {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: normal;
}
.dashboard {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  width: 65%;
  max-width: 1200px;
  gap: 2.5em;
  padding: 1em;
  align-items: center;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #ffb88c;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.2em;
  border: 1em solid #ffc86b;
  border-radius: 10em;
  box-sizing: content-box;
   
}

.namer {
  font-size: 2em;
  margin-right: -1em;
}

.formRunner {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 3em 5em;
}

.city {
  text-decoration: underline;
  line-height: 2em;
  font-size: 1.8em;
}

.joinLabel {
  font-size: 1.5rem;
  font-weight: 400;
}

.moses {
  display: flex;
  flex-direction: row;
  gap: 3em;
  width: 100%;
  justify-content: center;
}

.earthrise {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
  border: .5em solid #b80b0bd7;
  border-radius: 10em;
  box-sizing: content-box;
  padding: 2em;
}

.earthfall {
  width: 20%;
  height: auto;
  border-radius: 15em;
}

.inputPlanner {
  padding: .6em;
  width: 60%;
}

.namerage {
  font-size: 1.1em;
}

.hobbies {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

img {
  width: 15%;
  height: auto;
  align-self: center;
  border-radius: 8px;
}

.hobbyList {
  list-style: none;
  color: #ff6273;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.firstName {
  padding: .7em;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background: white;
  padding: 1.5em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  gap: 5em;
  justify-content: space-around;
}

.business {
  color: #ffd7a4;
}

.person {
  width: 15%;
}

.person:hover {
  width: 23%;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.card { 
  width: 300px;
  height: 200px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 1em;
  transform: rotateY(15deg);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.card:hover {
  transform: rotateY(0deg) scale(1.05);
  box-shadow: 0 15px 25px rgba(0,0,0,0.4);
}

.navigate {
  color: #ff6273;
}

.navigate :hover {
  color: #c2ff68;
  width: 100%;
}

.headline {
  font-size: 3.5em;
  line-height: 1.2;
  text-decoration: underline;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0.5em;
  color: #747bff;
  text-align: center;
  text-transform: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.section-break {
  margin: 1em;
  padding: 1em;
  width: 100%;
  background-color: #eaeaea;
  margin-top: 3em;
}

.input-comms {
  width: 80%;
  padding: 1em;
  background: #c2ff68;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Media Queries */
@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }

  .headline {
    font-size: 1.5em;
    line-height: 1.0;
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0.5em;
    color: #747bff;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  }

  .section-break {
    margin: 1em;
    padding: 1em;
    width: 100%;
    margin-top: 4em;
  }

  .firstName:focus {
    background-color: purple;
    padding: 2em;
    width: 100%;
  }

  .namer {
    font-size: 1.7em;
    margin-right: -.6em;
  }

  .container {
    width: 55%;
    max-width: 90%;
    gap: 1.3em;
    padding: .8em;
    font-size: .9rem;
    margin-left: 0;
    margin-right: 0;
    border: .8em solid #ffc86b;
    border-radius: 10em;
    overflow: hidden;
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  body {
    background-color: lightblue;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
